gradio==4.44.0
pypdf
python-docx
langdetect
plotly
networkx
Pillow
python-dotenv
google-generativeai
pydub
audioop-lts
pytesseract
sentence-transformers
Whoosh
scikit-learn
fastapi
uvicorn[standard]
python-multipart>
chromadb
passlib[bcrypt]
python-jose[cryptography]